@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Your custom theme colors */
    --cinza-claro: 229 229 229;
    --cinza-medio: 139 142 143;
    --cinza-escuro: 100 116 139;
    --verde: 44 135 105;
    --verde-claro: 80 168 138;
    --verde-escuro: 16 30 37;
    
    /* Theme variables in HSL format */
    --background: 162 83% 95%;
    --foreground: 162 5% 6%;
    --card: 162 50% 90%;
    --card-foreground: 162 5% 10%;
    --popover: 162 83% 95%;
    --popover-foreground: 162 95% 6%;
    --primary: 162 48.1% 20.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 162 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 124 30% 85%;
    --muted-foreground: 162 5% 35%;
    --accent: 124 30% 80%;
    --accent-foreground: 162 5% 10%;
    --destructive: 0 83% 30%;
    --destructive-foreground: 162 5% 90%;
    --border: 162 30% 50%;
    --input: 162 30% 18%;
    --ring: 162 48.1% 20.4%;
    --radius: 0.3rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  
  .dark {
    --background: 162 50% 6%;
    --foreground: 162 5% 90%;
    --card: 162 50% 6%;
    --card-foreground: 162 5% 90%;
    --popover: 162 50% 5%;
    --popover-foreground: 162 5% 90%;
    --primary: 162 48.1% 20.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 162 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 124 30% 15%;
    --muted-foreground: 162 5% 60%;
    --accent: 124 30% 15%;
    --accent-foreground: 162 5% 90%;
    --destructive: 0 83% 30%;
    --destructive-foreground: 162 5% 90%;
    --border: 162 30% 18%;
    --input: 162 30% 18%;
    --ring: 162 48.1% 20.4%;
    --radius: 0.3rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
